@import "tailwindcss";

:root {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

body {
  background: oklch(92% 0.004 286.32);
  font-family: var(--font-poppins), system-ui, sans-serif;
}

.about-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
}
