@import "tailwindcss";

:root {
  --background: #f1eee9;
  --foreground: #2d241e;
  --accent: #89745f;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
  hyphens: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background: rgba(137, 116, 95, 0.2);
  color: var(--foreground);
}